<!DOCTYPE html>

<html>
<head>
    <head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/icofont/icofont.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + LeadMark main styles -->
	<link rel="stylesheet" href="~/assets/css/leadmark.css">
</head>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
